@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");
.nav {
  display: grid;
  grid-template-columns: auto auto auto;
  background: #18181b;
  color: white;
  border-bottom: solid black;
}
.item1 {
  grid-column: 1;
}
h1 {
  margin-left: 5vw;
  color: white;
}
.item2 {
  grid-column: 3;
  height: fit-content;
  width: fit-content;
  justify-self: flex-end;
  align-self: center;
}
.button {
  margin-right: 5vw;
  font: large;
  height: fit-content;
  width: fit-content;
  color: rgb(255, 255, 255);
  background: transparent;
  background: #9147ff;
  border-radius: 2vh;
}
.button:hover {
  transform: scale(1.1);
}
