.App {
  min-height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;

  background: #0e0e10;
}

.home {
  display: flex;
  justify-content: space-evenly;
}

.top {
  display: flex;
  max-width: 10vw;
  background: #18181b;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  height: fit-content;
  align-items: flex-start;
  border-right: solid white;
  border-width: 0.1em;
  color: white;
  margin-top: 5vh;
  padding-right: 5vw;
}
ul :hover {
  text-decoration: underline;
  color: #9147ff;
}
.posts {
  margin: 0;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.search {
  margin: 1vh 0;
  height: 3.5vh;
  color: white;
  background: #18181b;
  align-self: center;
  width: 70%;
  border: solid #0e0e10;
}
